
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="./imagens/ranault.png" id="icon" alt="User Icon" />
    </div>

    <form action="/entrou" method="POST">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="E-mail">
      <input onkeyup="validarPadraoSenha(event)" type="text" id="senha" class="fadeIn third" name="senha" placeholder="Senha">
      <input onclick="validarLogin()" type="submit" class="fadeIn fourth" value="Entrar">
      <label id="campoObrigatorio" class="labelValidacao">Os campos são obrigatórios.</label>
      <label id="senhaTamanho" class="labelValidacao">A senha deve ter de 8 a 16 caracteres.</label>
      <label id="senhaPadrao" class="labelValidacao">A senha deve ter: 1 letra maíscula e 1 caractere especial.</label>
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="./cadastro">Cadastre-se aqui.</a>
      <a class="underlineHover" href="./usuarios">Gerenciar usuarios</a>
    </div>
    <a class="underlineHover" href="./principal">main</a>
  </div>
</div>